*{
    margin: 0;
    padding: 0;
}
body{
   font-family: sans-serif, Arial;
   background-image: linear-gradient(to right, rgba(31, 35, 54, 0.8)0%, rgba(255, 255, 255, 0.2)100%),
   url(./travel-concept-with-landmarks.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(65, 63, 63);
    padding: 20px;
    color: white;
    opacity: 0.9;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(62, 131, 72, 0.2), rgba(0,0,0,0.8));
    
}

nav ul{
    list-style-type: none;
    margin-right: 43%;
}
nav ul li{
    display: inline;
    margin-right: 30px;
}
 nav a{
    text-decoration:none;
    color: white;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
#inputsearch{
    border: none;
    border-radius: 50px;
    padding: 7px;
    width: 250px;
}
button{
    border: none;
    border-radius: 7px;
    padding: 9px;
    background-color: #3b883d;
    color: white;
    width: 100px;
}
button:hover{
    background-color: #48a84b;
}
#container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#sidebar{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10%;
    height: 30%;
    flex: 0.5;              
    padding-top: 130px;
    padding-left: 5px;

    
}
#sidebar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#contus{
    flex:3;
    color: white;
    padding:15rem 0 0 0;
    font-size: 1.5rem;
}
#contus h1,p{
    padding-bottom: 3rem;
    padding-left: 7rem;
}
#formcontainer{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    background-color: rgb(0, 0, 0, 0.4);
    width: 70%;
    height: 65%;
    padding-left: 10px;
    padding-top: 30px;
    border-radius: 3%;
    padding-bottom: 0;
}

#form label{
    font-size: 1.2rem;
    color: white;
    
    
}
#form input, textarea{
    background-color: rgb(0, 0, 0, 0.5);
    width: 90%;
    padding: 8px;
    margin: 10px 5px 5px 2px;
    border: 0 solid white;
    border-radius: 10px;
}
input,textarea{
    caret-color: white;
    color: white;
}
#submit{
    color:white;
    background-color: #3b883d;
    width: 93%;
}
#submit:hover{
background-color: #48a84b;
}
#fb:hover{
    color: blue;
}
#insta:hover{
    color:  #E1306C;
}
#twitter:hover{
    color: black;
}
#yt:hover{
    color: red;
}
